body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  image-rendering: pixelated;
  width: 768px;
  height: 672px;
  border: 4px solid white;
}
